footer {
    min-height: 300px;
}

footer h5 {
    color: #ffffff;
}

.header {
    padding-top: 10pt;
}

.brand-phone {
    font-size: 15pt;
}

.foot {
    list-style: none;
}

.foot-item a {
    text-decoration: none;
    color: #868e96;
}

.foot-item a:hover {
    text-decoration: none;
    color: #01549b;
}